.load-more {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 0 80px;
  display: flex;
  justify-content: center;
}

.load-more__button {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.load-more__button:hover {
  background-color: #e5e5e5;
}

.load-more__button_disable {
  display: none;
}
